*{
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}
html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.wrapper-nav{
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: 9999;
    height: 50px;
    padding: 0px;
    line-height: 50px;
}
.logo{
    float: left;
    margin-left: 16px;
}
.logo a{
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
}
.wrapper-nav ul{
    margin-top: 0px;
    float: right;
}
.wrapper-nav ul li{
    display: inline-block;
    float: left;
}
.wrapper-nav ul li:not(:first-child){
    margin-left: 48px;
}
.wrapper-nav ul li:last-child{
    margin-right: 24px;
}
.wrapper-nav ul li a{
    display: inline-block;
    outline: none;
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.hidden{
    display: none;
}




#background {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    background-color: #211f1f;
    display: none\8;
    z-index: 1;
}

#background .bg-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    display: none;
    overflow: hidden;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#background .bg-photo-1 {
    /* background: url('../img/indext.jpg') no-repeat center center; */
    background-color: rgb(240, 239, 238);
}
.bg-title{
    width: 100%;
    justify-content: center;
    display:flex;
}

.bg-photo-img{
    margin-top: 150px;
    width: 400px;
    height: 550px;
    background-color: rgb(102, 101, 101);
}
.bg-photo-title{
    margin-top: 150px;
    width: 500px;
    height: 550px;
}
.bg-photo-button1{
    width: 500px;
    height: 350px;
    background-color: rgb(202, 202, 202);
}
.bg-photo-button2{
    width: 500px;
    height: 200px;
    background-color: rgb(170, 169, 169);
}




.fixnav {
    position: fixed;
    top: 0px;
    left: 0px;
}
.nav-wrapper2 {
    width: 100%;
    height: 40px;
    background: rgb(255, 255, 255);
    line-height: 40px;
}
.nav-wrapper2-ul{
    width: 100%;
    margin-top: 0px;
    display: table;
    margin: 0 auto;
    height: 40px;
    text-align: center;
    padding: 0;
}
.nav-wrapper2-ul-li{
    display: inline-block;
    width: 220px;
    height: 40px;
}
.nav-wrapper2-ul-li-a{
    display: inline-block;
    outline: none;
    color: rgb(17, 94, 36);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}
.nav-wrapper2-ul-li:hover{
    background-color: #82ccdd;
}
.wrapper2-nav{
    width: 100%;
    max-width: 1920px;
    position: absolute;
    z-index: 9999;
    height: 50px;
    padding: 0px;
    margin-top: 150px;
}
@media screen and (max-width: 1500px) {
    .nav-wrapper2-ul-li{
        display: inline-block;
        width: 180px;
        height: 40px;
    }
}
@media screen and (max-width: 1200px) {
    .nav-wrapper2-ul-li{
        display: inline-block;
        width: 130px;
        height: 40px;
    }
}
@media screen and (max-width: 700px) {
    .nav-wrapper2-ul-li{
        display: inline-block;
        width: 110px;
        height: 40px;
    }
}
@media screen and (max-width: 320px) {
    .nav-wrapper2-ul-li{
        display: inline-block;
        width: 50px;
        height: 40px;
    }
}





.divv {
    margin: 10 auto;
    height: 65px;
    width: 65px;
}


.services-section {
    background: rgb(255, 248, 239);
    background-size: cover;
    padding: 60px 0;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}

.border {
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box {
    max-width: 33.33%;
    height: 180px;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
    background-color: rgb(99, 97, 97);
}
.service-box:hover .service-icon {
    transform: scale(1.5);
}
.service-box:hover .divv {
    transform: scale(1.0);
}


.service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc {
    min-width: 200px;
    font-size: 14px;
}

@media screen and (max-width: 960px) {
    .service-box {
        max-width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .service-box {
        max-width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .service-box {
        max-width: 50%;
    }
}
@media screen and (max-width: 280px) {
    .service-box {
        max-width: 100%;
    }
}


.divv2 {
    height: 270px;
    min-width: 350px;
    max-width: 350px;
}

.services-section2 {
    background: rgb(240, 239, 238);
    background-size: cover;
    padding: 60px 0;
}

.inner-width2 {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
}

.section-title2 {
    margin-top: 120px;
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
}

.border2 {
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
}

.services-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-box2 {
    max-width: 350px;
    min-width: 350px;
    padding: 5px;
    text-align: center;
    color: rgb(161, 160, 160);
    cursor: pointer;
    margin-left: 15px;
    margin-right: 15px;
}

.service-icon2 {
    display: inline-block;
    min-width: 350px;
    height: 270px;
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
}
.service-box2:hover .service-icon2 {
    background: #82ccdd;
    color: #ddd;
}

.service-title2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service-desc2 {
    min-width: 200px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .service-box2 {
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .service-box2 {
        max-width: 86%;
    }
}

@media screen and (max-width: 480px) {
    .service-box2 {
        max-width: 100%;
    }
}
.service-box2:hover .service-icon2 {
    transform: scale(1.1);
}
.service-box2:hover .divv2 {
    transform: scale(1.0);
}




.ckgd-box{
    cursor: pointer;
    width: 390px;
    height: 80px;
}
.ckgd-icon{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid burlywood;
    text-align: center;
    line-height: 80px;
    color: aliceblue;
    font-size: 28px;
    margin-top: 100px;
}
.ckgd-desc{
    text-align: center;
    margin-top: 5px;
    color: aliceblue;
}
@media screen and (max-width: 1200px) {
    .ckgd-box{
        width: 390px;
        margin-top: 100px;
    }
}
@media screen and (max-width: 1586px) {
    .ckgd-icon{
        margin-top: 20px;
    }
}
.ckgd-a{
    display: inline-block;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
}